**
!go.mod
!go.sum
!LICENSE
!NOTICE
!cmd
!cmd/**
!internal
!internal/**
!adapter
!adapter/**
!delegation
!delegation/**
!federation
!federation/**
!filesnapshot
!filesnapshot/**
!ingestion
!ingestion/**
!migration
!migration/**
!operations
!operations/**
!provider
!provider/**
!query
!query/**
!resolver
!resolver/**
!watch
!watch/**
!sandbox
!sandbox/**
!scripts
!scripts/provision_duckbridge.py
!scripts/duckbridge-driver.patch
!licenses
!licenses/**
**/*.pem
**/*.key
**/*.env
**/*-private.*
**/artifacts/**
**/.git/**
